body {
    max-width: 1200px;
    background: #1E1E1E;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0 auto;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    background: #121214;
    margin: 18px auto 0;
}
.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 24.5px 382px 26.5px 29px;
}
.header__logo {
    cursor: pointer;
    margin: 19.5px 0 21.5px 20px;
}
.header__navbar-link {
    font-size: 16px;
    line-height: 20px;
    color: #A6A8AD;
}
.header__auth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 17px 23px 19px 0;
}
.header__auth-login {
    font-size: 16px;
    line-height: 20px;
    color: #A6A8AD;
}
.header__auth-signup {
    width: 95px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 32px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #121214;
}

/* Notification */
.notification {
    display: flex;
    height: 46px;
    background: #0033FF;
}
.notification__wrapper {
    display: flex;
    width: 720px;
    height: 24px;
    margin: 11px 240px;
}
.notification__text {
    width: 620px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
.notification__link {
    width: 80px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

/* Intro */
.intro {
    display: flex;
    height: 744px;
    background-image: url('../img/intro_background.png');
    background-repeat: no-repeat;
}
.intro__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 437px;
    height: 390px;
    margin: 140px 715px 214px 48px;
}
.intro__info-title {
    font-size: 72px;
    line-height: 72px;
    letter-spacing: 1.08px;
}
.intro__info-text {
    font-size: 20px;
    line-height: 24px; 
}
.intro__info-btn {
    width: 125px;
    height: 56px;
    background: #0033FF;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
.intro__info-btn:hover {
    background: #fff;
    color: #0033FF;
    border: 1px solid #0033FF;
}


/* Sounds */
.sounds {
    display: flex;
    height: 482px;
    background: #121214;
    background-image: url('../img/sounds_background.png');
}
.sounds__info {
    display: flex;
    flex-direction: column;
    width: 441px;
    height: 174px;
    margin: 204px 711px 109px 48px;
}
.sounds__info-span {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.12px;
    text-transform: uppercase;
    color: #A6A8AD;
    margin-bottom: 5px;
}
.sounds__info-title {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 12px;
}
.sounds__info_text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 23px;
}
.sounds__info-btn {
    width: 159px;
    height: 36px;
    background: #0033FF;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
}
.sounds__info-btn:hover {
    background: #fff;
    color: #0033FF;
    border: 1px solid #0033FF;
}

/* Experience */
.experience {
    display: flex;
    height: 482px;
    background: #121214;
    background-image: url('../img/experience_background.png');
}
.experience__info {
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 422x;
    height: 139px;
    margin: 219px 48px 124px 730px;
}
.experience__info-span {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.12px;
    text-transform: uppercase;
    color: #A6A8AD;
    margin-bottom: 5px;
}
.experience__info-title {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 12px;
}
.experience__info_text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 23px;
}

/* Gear */
.gear {
    display: flex;
    height: 482px;
    background: #121214;
    background-image: url('../img/gear_background.png');
}
.gear__info {
    display: flex;
    flex-direction: column;
    width: 441px;
    min-height: 210px;
    margin: 204px 711px 109px 48px;
}
.gear__info-span {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.12px;
    text-transform: uppercase;
    color: #A6A8AD;
    margin-bottom: 5px;
}
.gear__info-title {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 12px;
}
.gear__info_text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 23px;
}
.gear__info-btn {
    width: 159px;
    height: 36px;
    background: #0033FF;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
}
.gear__info-btn:hover {
    background: #fff;
    color: #0033FF;
    border: 1px solid #0033FF;
}

/* Technology */
.technology {
    display: flex;
    height: 482px;
    background: #121214;
    background-image: url('../img/technology_background.png');
}
.technology__info {
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 422x;
    min-height: 198px;
    margin: 219px 48px 124px 730px;
}
.technology__info-span {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.12px;
    text-transform: uppercase;
    color: #A6A8AD;
    margin-bottom: 5px;
}
.technology__info-title {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 12px;
}
.technology__info_text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 23px;
}
.technology__info-btn {
    width: 159px;
    height: 36px;
    background: #0033FF;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
}
.technology__info-btn:hover {
    background: #fff;
    color: #0033FF;
    border: 1px solid #0033FF;
}

/* Comments */
.comments {
    display: flex;
    flex-direction: column;
    height: 753px;
    background: #121214;
}
.comments__title {
    font-size: 28px;
    line-height: 36px;
    margin: 120px 653px 24px 48px;
}
.comments__cards {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 1104px;
    height: 453px;
    margin: 0 48px 120px;
}
.comments__card {
    display: flex;
    flex-direction: column;
    height: 453px;
    background: #F8F8F8;
    border-radius: 8px;
}
.comments__card-photo {
    width: 223px;
    height: 223px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-radius: 500px;
    margin: 32px auto 30px;
    transition: transform .2s ease-in;
}
.comments__card-photo:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.comments__card-text {
    width: 285px;
    min-height: 100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.3px;
    color: #000000;
    margin: 0 38px 16px;
}
.comments__card-name {
    font-size: 14px;
    line-height: 20px;
    color: #767676;
    margin: 0 auto 32px 32px;
}

/* invitation */
.invitation {
    display: flex;
    flex-direction: column;
    height: 728px;
    background-image: url('../img/invitation_background.png');
    background-repeat: no-repeat;
}
.invitation__title {
    width: 495px;
    font-size: 54px;
    line-height: 60px;
    text-align: center;
    margin: 283px auto 65px;
}
.invitation__button {
    width: 114px;
    height: 40px;
    background: #0033FF;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin: 0 auto 280px;
}
.invitation__button:hover {
    background: #fff;
    color: #0033FF;
    border: 1px solid #0033FF;
}

/* Footer */
.footer {
    display: flex;
    height: 475px;
    background: #121214;
}
.footer__wrapper {
    display: flex;
    flex-direction: column;
    width: 1072px;
    height: 367px;
    margin: 48px 80px 60px 48px;
}
.footer__wrapper-links {
    display: flex;
    justify-content: space-between;
    width: 1072px;
    height: 266px;
    margin-bottom: 83px;
}
.footer__links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 83px;
}
.footer__links.left {
    display: flex;
    flex-direction: column;
    gap: 11px;
    width: 168px;
    height: 266px;
    margin-right: 19px;
}
.footer__links.right {
    display: flex;
    justify-content: space-between;
    width: 885px;
    height: 200px;
}
.footer__links-item {
    display: flex;
    flex-direction: column;
}
.links-item {
    font-size: 12px;
    line-height: 18px;
    color: #A6A8AD;   
    margin-bottom: 11px; 
}
.links-item.heading {
    cursor: pointer;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 12px;
}
.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 663px;
    height: 18px;
    font-size: 12px;
    line-height: 18px;
    color: #A6A8AD;
}
.copyright__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    width: 362px;
    height: 18px;
    margin: 0 30px 0 24px;
}
.social {
    cursor: pointer;
}